@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #ab2346;
  padding: 60px;
}
h1 {
  margin: 1rem auto;
}
input {
  border-radius: 10px;
  color: gray;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}

.card {
  align-content: center;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 200px;
}

.card p {
  color: #ab2346;
  font-weight: 400;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.card img {
  height: 200px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ol h3 {
  font-size: 2rem;
  margin: 2.5rem 0 1.5rem;
  text-align: center;
}
